body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    background-color: #f4efde;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 2px;
}

nav {
    background-color: #65451F;
    color: #d6dadb;
    padding: 20px;
    margin: 0px;
    display: flex;
    justify-content: center;
}

nav a {
    color: #d6dadb;
    margin-left: 8px;
    margin-right: 8px;
    text-decoration: none;
}
nav a:hover {background-color: #816437;}

footer {
    background-color: #65451F;
    color: #d6dadb;
}

footer a {
    text-decoration: none;
    color: #d6dadb;
}

footer div {margin-left: 8px; margin-right: 8px; justify-content: center;}
.footer {
    display: flex;
    justify-content: center;
}

.skip {
    background-color: #2c240b;
    color: #d6dadb;
    padding: 5px;
    border: 1px solid #000000;
    text-decoration: none;
    position: absolute; 
    top: 10px;
    left: -999px; 
}
    
.skip:focus {
    left: 10px;
}

@media only screen and (max-width: 800px) {
    .nav a {
        display: block;
        margin: 8px
    }
    span {display: none;}
}