body {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
h1, h2 {color:cadetblue}
.evenrow {background-color:purple}

h1 {font-size: 3em;}
h2 {font-size: 2em;}